*, 
*::before, 
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
    cursor:cell;
}
  
body {
    padding: 0;
    margin: 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,187,1) 100%);  
}
  
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: space-evenly; /* previously center */
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  
/* BUTTONS */
.calculator-grid > button {
    font-size: 2rem;
    border:2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: rgba(49, 49, 49, 0.75);
    color:rgb(255, 255, 255);
    margin:3px;
    padding:2.5px;
}
/* BUTTON HOVER */
.calculator-grid > button:hover {
    background-color: rgba(237, 237, 237, 0.9);
    border: 2px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    transition: 1s;
}
  
.span-two {
    grid-column: span 2;
}
  
.output {
    grid-column: 1 / -1;
    background-color: rgba(82, 135, 82, 0.75);
    border:2px solid rgb(255, 255, 255);
    border-radius: 8px;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin:4px;
    word-wrap: break-word;
    word-break: break-all;
}

.output:hover{
    background-color: rgba(49, 49, 49, 0.75);
    border:2px solid rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    transition: 15s;
}
  
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
  
.output .current-operand {
    color: rgba(255, 255, 255,.75);
    font-size: 2.5rem;
}



